@page
@model MonsterMatchWeb.Pages.PlayersByGames.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlayersByGame[0].Game)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayersByGame[0].Player)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayersByGame[0].Money)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayersByGame[0].Points)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PlayersByGame) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Game.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Money)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@($"{item.PlayerId} {item.GameId}")">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@($"{item.PlayerId} {item.GameId}")">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
